<!DOCTYPE html>
<html>
    <head>
        <title>
            Express Demo
        </title>
    </head>
    <body>
        <h1>Hello, world!!!</h1>
        <ul>
            <li><a href="/employees/delivery">/employees/delivery</a></li>
            <li><a href="/employees/sales">/employees/sales</a></li>
            <li><a href="/employees/employeeForm">/employees/employeeForm</a></li>
            <li><a href="/employees/salesEmployeeForm">/employees/salesEmployeeForm</a></li>
            <li><a href="/projectForm">/projectForm</a></li>
            <li><a href="/loginForm">/loginForm</a></li>
            <li><a href="/registerForm">/registerForm</a></li>

        </ul>
        <ul>
            {% for name in names %}
            <li>{{ name }}</li>
            {% endfor %}
        </ul>
    </body>
</html>
